:root {
    --radius-padrao: 20px;
    --cor-fundo: white;
    --cor-destaque: black;
    --cor-texto-destaque: white;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-destaque);
}

header {
    background-color: var(--cor-fundo);
    max-width: 900px;
    padding: 20px;
    border-radius: var(--radius-padrao);
}

header > h1 {
    text-align: center;
    font-size: 3em;
    color: var(--cor-destaque);
}

header > p {
    text-align: center;
}

main {
    max-width: 900px;
    background-color: var(--cor-fundo);
    padding: 20px;
    border-radius: var(--radius-padrao);
    margin-top: 20px;
}

form fieldset {
    margin-top: 20px;
    border-radius: var(--radius-padrao);
    padding: 20px;
    padding-top: 60px;
    position: relative;
    border: 1px solid var(--cor-destaque);
    color: var(--cor-destaque);
}

legend {
    display: block;
    position: absolute;
    top: 20px;
    font-size: 1.5em;
}

form fieldset div{
    padding-top: 20px;
}

input[type="color"] {
    border: none;
    padding: 0;
}

form input[type="text"], form input[type="password"], form input[type="email"], form input[type="tel"], form input[type="number"], textarea, form input[type="date"], select{
    width: 90%;
    padding: 10px;
    border-radius: var(--radius-padrao);
    border: .5px solid var(--cor-destaque);
}

label:not(.naoespacar) {
    display: block;
    padding-bottom: 10px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label{
    position: relative;
    display: block;
    padding: 10px 30px;
}

input[type="checkbox"] + label::before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    border: 1px solid var(--cor-destaque);
    border-radius: 5px;
    width: 20px;
    height: 20px;
}

input[type="checkbox"]:checked + label::before {
    content: '\2713';
    background-color: var(--cor-destaque);
    color: var(--cor-texto-destaque);
    text-align: center;
} 

textarea {
    display: block;
    margin-top: 20px;
    width: 96%;
    height: 200px;
    resize: none;
}

input[type="radio"] {
    visibility: hidden;
}

input[type="radio"] + label {
    position: relative;
    padding-left: 20px;
    display: flex;
}

input[type="radio"] + label::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid var(--cor-destaque);
}

input[type="radio"] + label::after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--cor-destaque);
    opacity: 0;
}

input[type="radio"]:checked + label::after  {
    opacity: 1;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 200px;
    background-color: var(--cor-fundo);
    height: 20px;
    vertical-align: middle;
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid var(--cor-destaque);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: var(--cor-texto-destaque);
    border-radius: 50%;
    border: 1px solid var(--cor-destaque);
    box-shadow: -110px 10px 0px 100px var(--cor-destaque);
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: var(--cor-texto-destaque);
    border-radius: 50%;
    border: 1px solid var(--cor-destaque);
    box-shadow: -110px 10px 0px 100px var(--cor-destaque);
} 

form div:has(input[type="submit"]) {
    display: flex;
    justify-content: space-between;
}

form input[type="submit"], form input[type="reset"] {
    flex-grow: 1;
    padding: 20px 0;
    border: 0;
    border-radius: var(--radius-padrao);
    background-color: var(--cor-destaque);
    color: var(--cor-texto-destaque);
    margin: 10px;
    font-size: 1.5em;
}

form input[type="submit"]:hover, form input[type="reset"]:hover {
    opacity: 0.9;
}
 
@media screen and (min-width: 900px){
    form input[type="text"], form input[type="password"], form input[type="email"], form input[type="tel"], form input[type="number"], form input[type="date"], select {
        width: 400px;
    }

    main {
        margin: auto;
    }

    header {
        margin:20px auto;
    }
}
